#menu {
  position: fixed;
  z-index: 50;
  right: 30px;
  top: 30px;
}

#menu.negative {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: rgba(125, 185, 222, 0.8);
  border: 1px solid rgba(81, 168, 221, 0.6);
  box-shadow: 0 4px 10px rgba(0,0,0,.5);
  box-sizing: border-box;
  background: #fff;
}